<p>testcustomer works!</p>


<div>
    <label>
        <h3>
            Customer ID: {{ customerID }}
        </h3>
    </label>
    <br/>
    <input type="number" [(ngModel)]="customerID"/>
    <br/>
    <input type="button" (click)="getCustomer(customerID)" value="Get Customer"/>
</div>
<div>
    <div *ngIf="currentCustomer">
        <ul style="text-decoration: none;">
            <li>
                <label>ID: </label>
                <input type="number" [value]= currentCustomer.id readonly/>
            </li>
            <li>
                <label>Name: </label>
                <input type="text" [(ngModel)]=currentCustomer.name/>
            </li>
            <li>
            <li>
                <label>User Name: </label>
                <input type="text" [(ngModel)]=currentCustomer.userName/>
            </li>
            <li>
                <label>Address: </label>
                <input type="text" [(ngModel)]=currentCustomer.address/>
            </li>
            <li>
                <label>City: </label>
                <input type="text" [(ngModel)]=currentCustomer.city/>
            </li>
            <li>
                <select *ngIf="allStates" [(ngModel)]="currentCustomer.stateID">
                        <option *ngFor="let state of allStates" [value]="state.id" >
                            {{ state.name }}
                        </option>
                </select>
            </li>
            <li>
                <label>City: </label>
                <input type="number" [(ngModel)]=currentCustomer.zipCode/>
            </li>
        </ul>
        <input type="button" (click)="updateCustomer()" value="Update Customer"/>
        <input type="button" (click)="clearCustomer()" value="Clear Current Customer"/>
    </div>
</div>
